/* global styles */
* {
    box-sizing: border-box;
    border: none;
    font-family: 'Jost', sans-serif;
    /* font-family: 'Red Hat Display', sans-serif; */
}
body {
    height: 100vh;
    display: grid;
}

/* homepage styles */
/* carousel styles */
.carousel__container {
    width: 100%;
    overflow: hidden;
    height: 70vh;
}
.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    /* max-width: ; */
    display: flex;
}
.carousel__slide {
    width: 100%;
    position: absolute;
}
.carousel__img {
    width: 100%;
    object-fit: scale-down;
}
.carousel__elements {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}
.carousel__elements h1 {
    color: white;
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 400;
}
/* .first__title {
    font-weight: ;
} */
.carousel__elements h2 {
    color: white;
    font-size: 2rem;
    font-weight: 300;
}
.carousel__btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    margin: 0.5rem;
    opacity: 70%;
    cursor: pointer;
    position: absolute;
    bottom: 1%;
    display: flex;
    place-items: center;

}
.carousel__btn:hover {
    opacity: 80%;
    transform: scale(1.05);
}
.carousel__btn:active {
    transform: scale(1.15);
}
.arrow__icon {
    height: 20px;
    opacity: 70%;
}
.carousel__btn--next {
    right: 45%;
}
.carousel__btn--prev {
    left: 45%;
}
.carousel__cta {
    width: 14%;
    height: 6%;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    outline: 3px solid white;
    background-color: transparent;
    position: absolute;
    left: 43%;
    top: 40%;
}
.carousel__cta:hover {
    transform: scale(1.03);
}
.carousel__cta:active {
    transform: scale(1.10);
}