/* global styles */
:root {
    --clr-primary-100: #F5F6F5;
    --clr-primary-200: aliceblue;

    --clr-neutral-100: #FFF;
    --clr-neutral-200: #999;
    --clr-neutral-300: #555;
    --clr-neutral-900: #222C2A;

    --clr-error-200: #FFF3F3;
    --clr-error-600: #D71919;

    --ff-primary: 'Red Hat Display', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
    outline: none;
}
body,
h1,
h2,
p {
    margin: 0;
    font-family: var(--ff-primary);
    color: var(--clr-neutral-900);
}
body {
    font-weight: 400;
    max-width: 100vw;
    max-height: 100vh;
}
article {
    display: grid;
    grid-template-rows: auto, 1fr, auto;
}
footer {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-primary-100);
    margin-top: 3rem;
}
footer > * {
    text-decoration: none;
    color: var(--clr-neutral-300);
    margin: 2rem;
    font-size: 0.8rem;
}

/* TODO clean up min screen helper here */
@media (max-width: 359px) {
    body {
        background-color: red;
    }
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.2rem 0rem;
}
p {
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
button {
    cursor: pointer;
}
.btn-animate:hover {
    transform: scale(1.05);
}
.btn-animate:active {
    transform: scale(1.10);
}
input, textarea {
    font: inherit;
}
.container {
    margin: 1rem;
    display: grid;
}
.nav-secondary {
    border-bottom: 3px solid var(--clr-primary-200);
}
.section-header {
    grid-column: 1 / -1;
    justify-self: center;
}
.section__cta {
    width: 5.5rem;
    height: 1.8rem;
    font-size: 0.7rem;
    outline: 3px solid var(--clr-primary-200);
    background-color: transparent;
    justify-self: center;
}


/* homepage styles */
/* nav stles */
.nav__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */ 
}
.logo {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem;
}
.nav__search {
    height: 2.2rem;
    width: 38vw;
    padding: 0.5rem 0;
    background-color: var(--clr-primary-100);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.nav__search input {
    height: 90%;
    width: 80%;
    padding: 0.5rem;
    background-color: var(--clr-primary-100);
    font-size: 0.88rem;
    font-weight: 300;
}
.nav__search img {
    height: 80%;
    width: auto;
    margin-inline: 0.5rem;
}
.nav__links {
    justify-self: end;
    padding-right: 0.5rem;
}
.nav__links ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.nav__links li {
    list-style: none;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.nav__links a {
    padding-bottom: 5px;
}
.nav__links a:not(.icon-link) {
    text-decoration: none;
    color: var(--clr-neutral-900);
    font-weight: 300;
}
.nav__links a:not(.icon-link):hover {
    border-bottom: 1.5px solid;
    font-weight: 400;
}
.nav__hamburger {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 40px;
}
.hamburger__bar {
    height: 3px;
    width: 100%;
    background-color: var(--clr-neutral-900);
    border-radius: 15px;
}
@media (max-width: 700px) {
    .logo {
        align-self: start;
    }
    .nav__search {
        justify-self: start;
        margin: 0 0.5rem;
    }
    .nav__search input {
        font-size: 0.7rem;
    }
    .nav__hamburger {
        display: flex;
    }
    .nav__links {
        display: none;
    }
    .nav__links.active {
        grid-row-start: 2;
        grid-column-start: 2;
        margin-left: 0.5rem;
        justify-self: center;
        display: flex;

    }
    .nav__container {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr auto 1fr;
    }
    .nav__links ul {
        flex-direction: column;
    }
    .nav__links li {
        padding: 0.2rem;
    }
}

/* carousel styles */
.carousel__container {
    width: 100%;
    height: 70vh;
    min-height: 600px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}
.carousel-img__container {
    height: 100%;
    width: 100%;
    grid: 1 / -1;
    position: absolute;
    display: flex;
    justify-content: center;
}
.carousel__header {
    height: 100%;
    grid-column: 2 / 5;
    grid-row: 1 / -1;
    color: var(--clr-neutral-100);
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 2fr;
    align-items: center;
    justify-content: center;
}
.header__container {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
    align-self: start;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header__title {
    display: flex;
    justify-content: center;
}
.header__title span {
    font-size: 4rem;
    line-height: 1.8rem;
    color: var(--clr-neutral-100);
}
.title-thin {
    font-weight: 100;
}
.title-bar {
    padding: 0rem 1rem;
    font-weight: 100;
}
.title-bold {
    font-weight: 600;
}
.header__subtitle {
    font-size: 1.5rem;
    margin-top: 1.7rem;
}
.slider-btn__container {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    align-self: end;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.slider-btn {
    height: 30px;
    width: 30px;
    margin: 0 2rem 0;
    border-radius: 50%;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-btn:hover {
    transform: scale(1.05);
    opacity: 90%;
}
.slider-btn:active {
    transform: scale(1.15);
}
.slider-btn__icon {
    height: 20px;
    opacity: 70%;
}
.header__cta {
    width: 8rem;
    height: 2.4rem;
    font-size: 1rem;
    color: var(--clr-neutral-100);
    margin-top: 1.4rem;
    border: 2px solid var(--clr-neutral-100);
    background-color: transparent;
}
@media (max-width: 800px) {
    .carousel__container {
        width: 100%;
        height: 50vh;
    }
    .carousel__header {
        grid-row: 1 / 3;
        grid-column: 1 / -1;
    }
    .header__container {
        margin-top: 6rem;
    }
    .header__title span {
        font-size: 2.3rem;
        line-height: 1.2rem;
    }
    .header__subtitle {
        font-size: 1rem;
        margin-top: 1.1rem;
    }
    .header__cta {
        width: 5.5rem;
        height: 1.8rem;
        font-size: 0.7rem;
        margin-top: 1.5rem;
    }
}


/* product card styles */
.featured__container {
    display: grid;
    margin: 1rem;
}
.product-card__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.6rem;
}
.product-card {
    max-height: 240px;
    min-height: 240px;
    flex-basis: 360px;
    background-color: var(--clr-primary-100);
    position: relative;
}
.product-img__container {
    height: 80%;
    width: 65%;
    max-width: 350px;
}
.product-featured {
    text-align: center;
    font-size: 0.7rem;
    height: 10%;
    max-height: 24px;
    width: 20%;
    max-width: 110px;
    padding: 0.2rem;
    background-color: var(--clr-primary-200);
    position: absolute;
    top: 0;
    z-index: 1;
}
.product-title {
    position: absolute;
    font-size: 1.2rem;
    padding: 0.5rem;
}
.product-summary__container {
    height: 78%;
    width: 35%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product-summary__capacity, .product-summary__rating {
    font-size: 0.8rem;
}
.product-card__btn {
    width: 5.5rem;
    height: 1.8rem;
    font-size: 0.7rem;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card__btn span {
    padding-bottom: 2px;
    border-bottom: 1px solid;
}
.product-card__btn span:hover {
    border-bottom: var(--clr-neutral-900);
    color: var(--clr-neutral-300);
}
.see-more__cta {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    margin-top: 1.6rem;
}
@media (min-width: 500px) {
    .product-card__container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* about styles */
.about__container {
    margin: 1rem;
    display: grid;
    grid-template-rows: repeat(auto, 3);
}
.about__body {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: var(--clr-primary-200);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__body div {
    width: 90%;
    max-width: 550px;
}
.about-img__container {
    margin-top: 1rem;
    margin-inline: 1rem;
}
.contact-us__cta {
    grid-column: 1 / -1;
}
@media (min-width: 700px) {
    p {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .about__body {
        flex-direction: row;
        gap: 2rem;
    }
    .about-img__container {
        margin: 1rem;
    }
}


/* products styles */
#products__search-form {
    justify-self: center;
    min-width: 18rem;
}
.results__container {
    display: flex;
    margin-top: 2rem;
}
.filters__container {
    margin: 0 0.5rem;
}
.filters__container h3 {
    margin: 0;
    min-width: 7rem;
}
.results-showing {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.checklist {
    margin: 1rem 0 0 0.29125rem;
}
.checklist > * {
    font-size: 0.8rem;
}
.checklist ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.checklist li {
    margin: 0;
    padding: 0.125rem;
}
.checklist select {
    margin-top: 0.3125rem;
}
.filters__header img {
    display: none;
}
@media (max-width: 500px) {
    .results__container {
        flex-direction: column;
        margin: 1rem;
    }
    .filters__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        margin-bottom: 1.6rem;
    }
    .filters__container > * {
        margin: 0;
        padding: 0;
    }
    .filters__header img {
        display: inline;
        max-width: 24px;
        margin-left: 0.5rem;
    }
    .filters__header h3 {
        display: flex;
        cursor: pointer;
    }
    .checklist__container {
        grid-column: 1 / -1;
        display: flex;
        gap: 1.6rem;
        margin-bottom: 2rem;
    }
    .hide {
        display: none;
    }
    .sort-by__container {
        margin-left: 1rem;
    }
}


/* contact styles */
.contact__container {
    grid-column: 1 / -1;
    margin: 0 0 2rem 0;
    width: 100%;
    min-width: 330px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-100);
    
}
.contact__subhead {
    text-align: center;
    max-width: 480px;
    margin-top: -1rem;
}
.form__container {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    column-gap: 1rem;
    row-gap: 1.2rem;
}
.form__container > * {
    grid-column: span 1;
    grid-row: span 1;
}
.form__container input {
    font-size: 0.8rem;
    padding: 0.5rem;
}
.input__container {
    display: flex;
    flex-direction: column;
}
.referrer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / -1;
    margin: 1rem;
}
.radio__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.comment {
    width: 100%;
    height: 100%;
    min-height: 70px;
    grid-column: 1 / -1;
    margin: 1rem;
    font-size: 0.8rem;
    justify-self: center;
    padding: 0.5rem;
}
.form__cta {
    background-color: var(--clr-primary-200);
    outline: 1px solid var(--clr-neutral-200);
    color: var(--clr-neutral-300);
    grid-column: 1 / -1;
    margin-top: 2rem;
}
/* error styles */
.error-msg {
    font-size: 12px;
    line-height: 14px;
    color: var(--clr-error-600);
    padding-block: 0.3rem;
  }
  .error-input {
    background-color: var(--clr-error-200);
    border-color: var(--clr-error-600);
    color: var(--clr-error-600);
    outline: 1px solid var(--clr-error-600);
  }