/* global styles */
body {
    box-sizing: border-box;
    border: none;
    /* font-family: 'Jost', sans-serif;
    font-family: 'Red Hat Display', sans-serif; */
    height: 100vh;
    display: grid;
}

/* homepage styles */
/* carousel styles */
.carousel__container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
}
.carousel__slide {
    grid: 1 / -1;
    position: absolute;
}
.carousel__img {
    width: 100%;
    /* object-fit: scale-down; */
}
.carousel__header {
    grid-area: 2 / 1 / 4 / 2;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.slider-btn__container {
    display: flex;
}
.carousel__btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    opacity: 70%;
    cursor: pointer;
    display: flex;
    place-items: center;
}
.carousel__btn:hover {
    opacity: 80%;
    transform: scale(1.05);
}
.carousel__btn:active {
    transform: scale(1.15);
}
.arrow__icon {
    height: 20px;
    opacity: 70%;
}
.header__cta {
    width: 14%;
    height: 6%;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    outline: 3px solid white;
    background-color: transparent;
}
.carousel__cta:hover {
    transform: scale(1.03);
}
.carousel__cta:active {
    transform: scale(1.10);
}