* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(3, 100px);
    row-gap: 5px;
    column-gap: 0;
    margin: 20px;
    position: relative;
}
.interior {
    height: 100px; 
    width: 100px;
    border: 5px solid white;
}
.div1 {
    background-color: red;
}
.div2 {
    background-color: orange;
}
.div3 {
    background-color: yellow;
}
.div4 {
    background-color: blue;
    position: absolute;
    top: 50px;
    left: 45px;
}
.div5 {
    background-color: violet;
    position: absolute;
    top: 50px;
    left: 155px;
}
