* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    margin: 20px;
}
.interior {
    height: 100px; 
    width: 100px;
    border: 5px white solid;
    position: absolute;
    outline: none;

}
.div1 {
    background-color: red;
    left: 90px;
}
.div2 {
    background-color: orange;
    left: 200px;
    top: 10px;
    transform-origin: top right;
    transform: rotate(-20deg);
}
.div3 {
    background-color: yellow;
    left: 240px;
    top: 100px;
    transform-origin: top left;
    transform: rotate(60deg);
}
.div4 {
    background-color: blue;
    left: 80px;
    top: 35px;

    transform-origin: bottom left;
    transform: rotate(35deg);
}
.div5 {
    background-color: violet;
    top: 45px;
    transform-origin: bottom left;
    transform: rotate(20deg);
}
